{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-len": ["error", 128],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "import/no-self-import": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-duplicates": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "no-shadow": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/no-useless-path-segments": "off",
    "object-curly-newline": "off",
    "@typescript-eslint/no-shadow": "off"
  }
}
